<link rel="stylesheet" type="text/css" href="/static/hydrolearn-theme/css/home.css"/>

<div id="Home_Content">
	<div class="block">
        
            <p>
                HydroLearn is an educational project funded by the National Science Foundation to promote the collaborative development and adoption of active-learning resources in hydrology and water resources engineering. 
            </p>

            <h2>What can you do with HydroLearn</h2>
            <p>
                Using the HydroLearn platform, educators can:
                <ul>
                    <li>
                        Explore existing courses, case studies, and learning activities and use in classrooms
                    </li>
                    <li>
                        Customize existing courses and learning activities, or build new ones
                    </li>
                    <li>
                        Share back learning resources for instructors to use
                    </li>
                    <li>
                        Get guidance on how to develop effective learning outcomes and assessment rubrics
                    </li>
                </ul>
            </p>
    </div>


    <div class="block emphasis">
        <div class="col-group">
            <div class="col" style="width: 300px;">
                <h3>Explore</h3>
                <img style="padding:45px; width: 150px; height:auto; min-height:unset; max-height:unset;" src="/static/hydrolearn-theme/images/HomePageImagry/etc/explore_256.png">
                <div class="desc">
                    <h4>
                        Explore existing courses and use in classrooms
                    </h4>
                </div>
            </div>

            <div class="col" style="width: 300px;">
                <h3>Customize</h3>
                <img style="padding: 45px; width: 150px; height:auto; min-height:unset; max-height:unset;" src="/static/hydrolearn-theme/images/HomePageImagry/etc/customize_256.png">
                <div class="desc">

                    <h4>
                        Customize existing courses, or build new ones
                    </h4>
                </div>
            </div>

            <div class="col" style="width: 300px;">
                <h3>Share</h3>
                <img style="padding: 45px; width: 150px; height:auto; min-height:unset; max-height:unset;" src="/static/hydrolearn-theme/images/HomePageImagry/etc/share_256.png">
                <div class="desc">
                    <h4>
                        Share back your learning resources with other instructors
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <h2>Who</h2>
        <p>
            ​HydroLearn target users include:

            <ul>
                <li>
                    Instructors who want to develop, customize and share innovative learning resources in hydrology and water resources
                </li>
                <li>
                    Students who want to learn about fundamental and emerging topics in hydrology and water resources engineering using active learning approaches
                </li>
            </ul>
        </p>

    </div>

    <div class="block">
        <h2>Why</h2>
        <p>
            HydroLearn aims to create a community of users who are interested in adopting innovative active-learning resources in hydrology and water resources engineering. By providing educators with a mechanism for contribution, customization and sharing of educational content, HydroLearn aspires to alleviate existing development and adoption barriers encourage educators to engage in active-learning innovations. HydroLearn also aims to propagate good pedagogical practices by providing instructors with support on how to develop sound and effective learning activities, learning outcomes and assessment rubrics.
        </p>
    </div>


    <div class="block">
        <h2>How</h2>
        <p>
            <ul>
                <li>
                    HydroLearn follows a model of open accessibility to content that instructors develop and share on HydroLearn. 
                </li>
                <li>
                    With a focus on achieving faculty adoption, HydroLearn follows a “design for sustained adoption” approach with three core elements: interactive development, interactive dissemination, and support of adopters.
                </li>
                <li>
                    Following an early-engagement model, HydroLearn provides funded fellowships for interested instructors to participate in the development and testing of the learning resources using the HydroLearn platform. If you are interested to become a HydroLearn fellow, please contact the HydroLearn team.
                </li>                
            </ul>
        </p>
    </div>


    <div class="block">
        <h2>Team</h2>
        <hr/>
        <div class="col-group">
            <div class="sidebyside">
                <div class="sidebyside_row">
                    <div class="elem top"><div class="uni"><img src="/static/hydrolearn-theme/images/HomePageImagry/logos/ull.png"></div></div>
                    <div class="elem bottom"><h4>UNIVERSITY OF LOUISIANA AT LAFAYETTE</h4></div>
                </div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/UL/emad.png">
                </div>
                <div class="desc">
                    <h5>Emad Habib</h5>
                    <p>Principal Investigator</p>
                    <p>Professor, Civil Engineering</p>
                    <p>habib@louisiana.edu</p>
                </div>
            </div>           

            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/UL/doug.png">
                </div>
                <div class="desc">
                    <h5>Douglas Williams</h5>
                    <p>Co-Principal Investigator</p>
                    <p>Professor, College of Education</p>
                    <p>dwilliams@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/UL/melissa.jpg">
                </div>
                <div class="desc">
                    <h5>Melissa Gallagher</h5>
                    <p>Co-Principal Investigator</p>
                    <p>Assistant Professor, College of Education</p>
                    <p>​mxg6401@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/UL/khalid.jpg">
                </div>
                <div class="desc">
                    <h5>Khalid Elgazzar</h5>
                    <p>Co-Principal Investigator</p>
                    <p>Assistant Professor, School of Computing Informatics</p>
                    <p>​elgazzar@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/UL/micah.jpg">
                </div>
                <div class="desc">
                    <h5>Micah LaCombe</h5>
                    <p>Technology Officer</p>
                    <p>Informatics Research Institute</p>
                    <p>mjl8981@louisiana.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/UL/cary.jpeg">
                </div>
                <div class="desc">
                    <h5>Cary Rivet</h5>
                    <p>Software Developer</p>
                    <p>Informatics Research Institute</p>
                    <p>c.rivet@louisiana.edu</p>
                </div>
            </div>                       

        </div>

        <div class="col-group">
            <div class="sidebyside">
                <div class="sidebyside_row">
                    <div class="elem top"><div class="uni"><img src="/static/hydrolearn-theme/images/HomePageImagry/logos/usu.png"></div></div>
                    <div class="elem bottom"><h4>UTAH STATE UNIVERSITY</h4></div>
                </div>
            </div>
            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/USU/tarboton.jpg">
                </div>
                <div class="desc">
                    <h5>David Tarboton</h5>
                    <p>Principal Investigator</p>
                    <p>Professor, Civil & Environmental Engineering</p>
                    <p>dtarb@usu.edu</p>
                </div>
            </div>            

            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/unknown.png">
                </div>
                <div class="desc">
                    <h5>Scott Black</h5>
                    <p>Software Engineer</p>                    
                    <p>scott.black@usu.edu</p>
                </div>
            </div>

        </div>

        <div class="col-group">
            <div class="sidebyside">
                <div class="sidebyside_row">
                    <div class="elem top"><div class="uni"><img src="/static/hydrolearn-theme/images/HomePageImagry/logos/byu.png"></div></div>
                    <div class="elem bottom"><h4>BRIGHAM YOUNG UNIVERSITY</h4></div>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/BYU/ames-dan.jpg">
                </div>
                <div class="desc">
                    <h5>Dan Ames</h5>
                    <p>Co-Principal Investigator</p>
                    <p>Professor, Civil & Environmental Engineering</p>
                    <p>dan.ames@byu.edu</p>
                </div>
            </div>

            <div class="col">
                <div class="img">
                    <img src="/static/hydrolearn-theme/images/HomePageImagry/team/unknown.png">
                </div>
                <div class="desc">
                    <h5>Jim Nelson</h5>
                    <p>Co-Principal Investigator</p>
                    <p>Professor, Civil & Environmental Engineering</p>
                    <p>jimn@byu.edu</p>
                </div>
            </div>

        </div>

        

        

    </div>

    <div class="block">

        <div class="sidebyside collapsible">
                <div class="sidebyside_row">
                    <div class="elem top" style="border-right: 1px solid #e5e5e5;"><img src="/static/hydrolearn-theme/images/HomePageImagry/logos/nsf_orig.png"></div>
                    <div class="elem bottom">
                        <h2>Sponsors</h4>
                        <p>
                            This project is supported by the National Science Foundation under Collaborative Grant
                            <a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1726965">IUSE 1726965</a>.
                        </p>
                        <p>
                            Collaborative Research: Improving Student Learning in Hydrology & Water Resources Engineering by Enabling the Development, Sharing and Interoperability of Active Learning Resources.
                        </p>
                        <p>
                            HydroLearn follows earlier developments in the HydroViz project that was sponsored by the National Science Foundation's Collaborative Grant
                            <a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1122898">
                                TUES 1122898
                            </a> 
                            and
                            <a target="_blank" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=0737073">
                                CCLI 0737073
                            </a>.
                        </p>

                    </div>
                </div>
            </div>

        <div>

        </div>

    </div>
</div>