.modal-content {
    height:100%;

    .xblock-editor{
        height:100%;

        .xblock-studio_view {
            height:100%;

            .wrapper-comp-editor{
                height:100%;

                .html-editor{
                    height:100%;

                    .row {
                        height:100%;

                        .mce-tinymce{
                            height:100%;

                            .mce-container-body{
                                height:100%;

                                .mcs-edit-area{
                                    height:100%;

                                    iframe{
                                        height:100%;
                                    }
                                }
                            }

                        }
                    }
                }

            }
        }
    }

}
